@font-face{
    font-family: "UndertaleFont";
    src: url("font/determination.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body, header, #elenco-difficolta{
    margin: auto;
}

#elenco-difficolta{
    width: clamp(100px,50vw,500px);
    aspect-ratio: 2/3;
    max-height: 1000px;
}

a{
    text-decoration: none;
    color: white;
}

body {
    background-color: rgb(30, 30, 30);
    width: 100%;
}

header{
    width: 50%;
}

#title-game{
    text-align: center;
    margin: 100px;
    font-size: clamp(3rem,5vw ,5rem);
    margin: min(10%,2em) auto;
}

.undertale{
    font-family: 'UndertaleFont';
    color: white;
    text-align: center;
}